<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Mercado Liebre V</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo de la página">
        <input type="search" name="barra-de-busqueda" id="buscador" placeholder="Buscar productos, marcas">
        <i id="lupa" class="fas fa-search"></i>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav id="nav">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul> 
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>    
        </nav>    
        <div class="burger-menu">
            <i class="fas fa-bars" ></i>
        </div>
    </header>
    <main>
        <form action="" id="form-register">
            <label class="inputRegister" for=""><b>Registro</b></label>
            <input class="inputRegister" type="text" name="name_lastName" placeholder="Nombre y Apellido" id="">
            <input class="inputRegister" type="text" name="userName" placeholder="Nombre de usuario" id="">
            <input class="inputRegister" type="email" name="email" placeholder="Email" id="">
    
            <label for="date"><b>Fecha de nacimiento</b></label>
            <input class="inputDate" type="date" name="date" id="">
    
            <input class="inputRegister" type="text" name="direction" placeholder="Domicilio" id="">
    
            <label for="userRol"><b>Perfil del usuario</b></label>
            <div class="divRol">
                <input type="radio" name="userRol" class="idRol"> Comprador 
                <input type="radio" name="userRol" class="idRol"> Vendedor   
            </div>
    
            <label for="checkbox"><b>Intereses</b></label>
            <div class="divCheckbox">
                <label for="electro">
                    <input type="checkbox" name="checkbox" id="electro" class="checkbox">Electro
                </label>
                <label for="moda"> 
                    <input type="checkbox" name="checkbox" id="moda" class="checkbox">Moda 
                </label>
                <label for="hogar">
                    <input type="checkbox" name="checkbox" id="hogar" class="checkbox">Hogar 
                </label>
                <label for="jugueteria">
                    <input type="checkbox" name="checkbox" id="jugueteria" class="checkbox">Jugueteria 
                </label>
                <label for="vidaSana">
                    <input type="checkbox" name="checkbox" id="vidaSana" class="checkbox">Vida sana 
                </label>
            </div>
        </form>
    </main>
    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </article>
        <span id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
</footer>
</body>
</html>